footer {
    width: 100%;
    height: 100px;
    background-color: #42A5C2;
    position: absolute;
    bottom: 0;
}

#contact {
    color: white;
    padding: 10px;
    font-size: 14px;
}

#contact p {
    margin-left: 15px;
}

