body {
    padding: 0;
    margin: 0;
    position: relative;
}

.contents {
    padding-top: 60px;
    padding-bottom: 110px;
}

.theme-list {
    margin: 15px 15px 30px 15px;
}

.theme-name {
    margin: 20px;
}

.scroll-menu {
    overflow: auto;
    white-space: nowrap;
    padding: 10px 20px 10px 20px;
}

.scroll-menu img {
    width: 400px;
    height: 225px;
    margin-right: 32px;
    border-radius: 15px;
    box-shadow: 5px 5px 5px gray;
}