<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../css/detail.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    
    <title>Traveling Everywhere</title>
</head>

<body>
    <header>
        <div class="top-bar">
            <span id="logo">Traveling Everywhere</span>
            <nav>
                <span class="material-icons" id="mypage-btn">account_circle</span>
            </nav>
        </div>
    </header>

    <div class="contents">
        <h1>
            <%= data.countryName %>
        </h1>
        <img src="<%= data.countryImage %>">
        <p>
            <%- data.countryDescription %>
        </p>

        <div>
            <h2>코로나 이슈</h2>

            <p>
                <%- data.covidIssue %>
            </p>
        </div>

        <div>
            <h2>날씨</h2>
            <p>
                <%- data.weather %>
            </p>
        </div>

        <div>
            <h2>보건</h2>
            <p>
                <%- data.health %>
            </p>
        </div>

        <div>
            <h2>언어</h2>
            <p>
                <%- data.lang %>
            </p>
        </div>

        <div>
            <h2>
                <%= data.locationName %>
            </h2>
            <img src="<%= data.locationImage %>">
            <p>
                <%- data.locationInfo %>
            </p>
        </div>
    </div>

    <footer>
        <div id="contact">
            <p>이하은 jxlhe46@seoultech.ac.kr</p>
            <p>한윤재 ucando0320@seoultech.ac.kr</p>
        </div>
    </footer>

    <script>
        document.getElementById("logo").addEventListener("click", () => {
            document.location.href = "/select";
        });
        document.getElementById("mypage-btn").addEventListener("click", () => {
            document.location.href = "/mypage";
        });
    </script>
</body>

</html>