<!DOCTYPE html>
<html>

<head>
    <title>Mypage</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/mypage.css">
</head>

<body>
    <header>
        <div class="top-bar">
            <span id="logo">Traveling Everywhere</span>
            <nav>
                <span class="material-icons" id="previous-btn">arrow_back</span>
            </nav>
        </div>
    </header>

    <div class="contents">
        <!-- <h1>Mypage</h1> -->
        <div id="profile">
            <div id="name">
                <p>
                    <%= data.displayName %>
                </p>
            </div>
            <div id="email">
                <p>
                    <%= data.email %>
                </p>
            </div>
            <a id="logout" href="/logout">logout</a>
        </div>
        <div id="myRanking">
            <h2>My Travel Ranking</h2>
            <hr>
            <table id="ranking">
                <th>
                    <p>순위</p>
                </th>
                <th id="middle">
                    <p>지역</p>
                </th>
                <th>
                    <p>여행 시간</p>
                </th>
                <tr>
                    <td>
                        <p>1</p>
                    </td>
                    <td id="middle">
                        <p>Snoqualmie Region</p>
                    </td>
                    <td>
                        <p>Time</p>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <footer>
        <div id="contact">
            <p>이하은 jxlhe46@seoultech.ac.kr</p>
            <p>한윤재 ucando0320@seoultech.ac.kr</p>
        </div>
    </footer>

    <script>
        document.getElementById("previous-btn").addEventListener("click", () => {
            document.location.href = "/main";
        });
    </script>

</body>

</html>