<!DOCTYPE html>
<html>

<head>
    <title>Mypage</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/mypage.css">
    <title>Traveling Everywhere</title>
</head>

<body>
    <header>
        <div class="top-bar">
            <span id="logo">Traveling Everywhere</span>
        </div>
    </header>

    <div class="contents">
        <div id="profile">
            <div id="name">
                <p>
                    <%= data.userInfo.displayName %>
                </p>
            </div>
            <div id="email">
                <p>
                    <%= data.userInfo.email %>
                </p>
            </div>
            <a id="logout" href="/logout">logout</a>
        </div>
        
        <div id="myRanking">
            <h2>My Travel Ranking</h2>
            <hr>
            <% if (data.ranks.length) { %>
                <table id="ranking">
                    <th>
                        <p>순위</p>
                    </th>
                    <th id="middle">
                        <p>지역</p>
                    </th>
                    <th>
                        <p>여행 시간</p>
                    </th>
                    <% data.ranks.forEach(function(item, index) { %>
                        <tr id="ranks">
                            <td>
                                <p>
                                    <%= index+1 %>
                                </p>
                            </td>
                            <td id="middle">
                                <p>
                                    <%= item.location %>
                                </p>
                            </td>
                            <td>
                                <p id="time">
                                    <%= parseInt(item.period/60/60/1000) %> 
                                    :
                                    <%= parseInt((item.period/60/1000)%60) %>
                                    :
                                    <%= parseInt((item.period/1000)%60) %>
                                </p>
                                <script>
                                    timeValue = document.getElementById("time").innerHTML;
                                    time = Number(timeValue);
                                    sec = parseInt(time / 1000);
                                    min = parseInt(sec / 60);
                                    hour = parseInt(min / 60);

                                    timeValue = hour + " : " + min + " : " + sec;
                                    console.log(timeValue);

                                </script>
                            </td>
                        </tr>
                    <% }); %>
                </table>
            <% }; %>
        </div>
    </div>
    
    <footer>
        <div id="contact">
            <p>이하은 jxlhe46@seoultech.ac.kr</p>
            <p>한윤재 ucando0320@seoultech.ac.kr</p>
        </div>
    </footer>

    <script>
        document.getElementById("logo").addEventListener("click", () => {
            document.location.href = "/select";
        });
    </script>
</body>

</html>